
    <div class="modal-body">Do you really want to delete this entry?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">No</button>
      <button type="button" class="btn btn-success" (click)="yesDelete(id)">Yes</button>
    </div>