
<div class="add mt-3">
<h2>
	Add Employee Details
	</h2>                                                        
  <div class="table-responsive">  
<table class="table"> 
	<tr> 
		<td class="text-right">
			<label for="Name">Name : </label>
		</td>
		<td>
			 <input  type="text" id="Name" #Name>
		</td>
	</tr>
	<tr>
		<td class="text-right">
  					<label for="Salary">Salary : </label>
		</td>
		<td>
			 <input type="text" id="Salary" #Salary>
		</td>
	</tr>
	<tr>
		<td class="text-right">
  					<label for="Designation">Designation : </label> 
		</td>
		<td>
			<input type="text" id="Designation" #Designation>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><button class="btn btn-success"(click)="addContact(Name.value,Salary.value,Designation.value)"> Add </button>
			<button class="btn btn-default ml-2" (click)="cancelAdd()"> Cancel </button>
			</td>
	</tr>
</table>
  </div>
  </div>