
<div class="edit mt-3">
<h2>
	Edit Employee Details
	</h2>                                                        
  <div class="table-responsive">  
<table class="table"> 
	<tr> 
		<td class="text-right">
			<label for="Name">Name : </label>
		</td>
		<td>
			 <input [(ngModel)]="Name" type="text" id="Name">
		</td>
	</tr>
	<tr>
		<td class="text-right">
  					<label for="Salary">Salary : </label>
		</td>
		<td>
			 <input [(ngModel)]="Salary"  type="text" id="Salary">
		</td>
	</tr>
	<tr>
		<td class="text-right">
  					<label for="Designation">Designation : </label> 
		</td>
		<td>
			<input type="text" id="Designation" [(ngModel)]="Designation">
		</td>
	</tr>
	<tr>
		<td></td>
		<td><button class="btn btn-success"(click)="onSave()"> Save </button>
			<button class="btn btn-default ml-2" (click)="cancelAdd()"> Cancel </button>
			</td>
	</tr>
</table>
  </div>
  </div>