/* You can add global styles to this file, and also import other style files */

.container{
    height:100vh;
    background: white;
    box-shadow:0px 0px 10px black;
}

.edit .table td,
.add .table td{
    border: 0;
}

body{
    background: linear-gradient(rgb(15, 184, 173) 0%, rgb(31, 200, 219) 51%, rgb(44, 181, 232) 75%);
}