<div class="home pt-5">
<form>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString" #search>
        </div>
    </div>
</form>                                                                                  
  <div class="table-responsive">         
<table class="table table-striped border">
  <tr>
<th> Name </th>
<th> Salary </th>
<th> Designation </th>
<th> Edit </th>
<th> Delete </th>
  </tr>
  <tr *ngFor="let employee of (EmployeeData | searchFilter: search.value )">
    <td> {{employee.Name}}</td>
    <td> {{employee.Salary}}</td>
    <td> {{employee.Designation}}</td>
    <td> <button (click)="editYes(employee)" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>  </td>
    <td> <button type="button" class="btn btn-danger ml-2 btn-sm" (click)="onDelete(employee)"><i class="fa fa-trash" aria-hidden="true"></i></button> </td>
    </tr>
</table>
</div>
<div class="float-right">
  <button class="btn btn-success btn-lg" (click)="addDetails()"> Add </button>
  </div>
</div>

